footer{
    display: none !important;
}



@font-face {
    font-family: "gothic";
    src: url('https://static.igem.wiki/teams/4691/wiki/gothic.ttf');
}

@font-face {
    font-family: "gothicb";
    src: url('https://static.igem.wiki/teams/4691/wiki/gothicb.ttf');
}

@font-face {
    font-family: "hfsandbeach";
    src: url('https://static.igem.wiki/teams/4691/wiki/hfsandbeach.ttf');
}

:root {
    --sidebar-width: 300px !important;
    --content-width: 68% !important;
}

@media (max-width: 959px) {
    .sidebar {
        font-size: 15px;
        width: var(--sidebar-width);
    }
}

.page {
    margin-top: 6vw !important;
    // background: no-repeat url('https://static.igem.wiki/teams/4691/wiki/head-5-description.png');
    // background-size: 100vw;
    padding: none;
    width: 100% - var(--sidebar-width);
    background-color: aliceblue;
}

.sidebar {
    border-right: 10px #2AB6AE solid !important;
    top: 0 !important;
}

.theme-default-content{
    margin-top: calc(100vw * 9 / 16 - var(--navbar-height) * 2) !important;
    padding-top: 10px !important;
    strong{
        color: rgb(63, 157, 240);
    }
    // tr:nth-child(2n){
    //     background-color: rgba(0,0,0,12);
    // }
    p{
        font-weight: 600;
        font-family: gothic;
        font-size: 20px;
        text-indent: 2em;
        line-height: 200%;
        text-align:justify;
        text-align-last: left;
    }
    h1{
        font-family: hfsandbeach;
        padding:0.25em 0;
        text-align:center;
        color: #FFFFFF;
        margin-top: 0.25em;
        // border: none;
        // color: rgb(255,217,102);
        border-radius: 0.5em;
        // box-shadow: inset 0 0em 0em rgba(255, 255, 255, 1),
        //         0 0  0 0em rgb(168, 168, 168),
        //         -0.25em 0.25em 1em rgba(160, 160, 160, 0.9);
    }
    h2{
        font-weight: bolder;
        border-bottom: 0;
    }
    h3{
        // font-style: italic;
        color: #2AB6AE;
        font-size: 24px;
    }
    h4 {
        font-weight: 700;
    }

    h1:nth-child(5n+1){
        background-color: rgb(122, 178, 255);
        
    }

    h1:nth-child(5n+2){
        background-color: rgb(114, 60, 172, 0.7);
    }

    h1:nth-child(5n+3){
        background-color: rgb(42, 181, 174, 0.7);
    }

    h1:nth-child(5n+4){
        background-color: rgb(255, 188, 86, 0.7);
    }

    h1:nth-child(5n+5){
        background-color: rgb(0, 141, 84, 0.7);
    }
}

