@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.fade-in {
    animation: fade-in ease 2s;
	  animation-fill-mode: forwards;
}