<template>
    <div class="bottom">
        <img src="https://static.igem.wiki/teams/4691/wiki/footer/foot.jpeg" />
    </div>
    <!-- <div class="bottom">
        <div class="left">
            <div class="logos">
                <img src="https://static.igem.wiki/teams/4691/wiki/footer/logo.png" id="BIT" />
            </div>
        </div>
        <div class="center">
        </div>
        <div class="right">
            <div>
                <img src="https://static.igem.wiki/teams/4691/wiki/footer/mail.png" style="height: 10%; width: auto;" />
                <img src="https://static.igem.wiki/teams/4691/wiki/footer/place.png" style="height: 10%;width: auto;" />
            </div>
        </div>
        <img src="https://static.igem.wiki/teams/4691/wiki/footer/members.png" class="overlay-image" />
    </div> -->
</template>
<script>
export default {
    name: 'bottom-item'
}
</script>

<style lang="scss" scoped>
@import '../styles/index.scss';

p {
    font-family: gothicb;
}

img {
    pointer-events: none;
}

.bottom {
    --bottom-height: 50em;
}

.bottom {
    z-index: 997;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;

    background-color: rgb(44, 179, 172);
    width: 100%;
    // height: var(--bottom-height);
    left: 0;
    // bottom: 0;
}

// .outer-bottom {
//     background-image: url(https://static.igem.wiki/teams/4691/wiki/footer/members.png);
//     z-index: 999;
//     @extend .bottom
// }

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 50%;
}

.left img {
    align-self: center;
    width: calc(var(--bottom-height) * 0.1);
}

.center {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    width: 5%;
}

.right {
    align-self: center;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.right div {
    display: flex;
    flex-direction: row;
    height: calc(var(--bottom-height) / 2)
}

.right div img {
    width: 50%;
}

.rightright {
    width: 10%;
}
</style>