<template>
    <div class="shell">
        <ul class="images" :style="{ left: (index * -100) + '%' }">
            <li class="img" v-for="(item, i) in imgUrls" :key="i" :style="{ backgroundImage: 'url(' + imgUrls[i] + ')' }">
            </li>
        </ul>
        <ul class="min-images">
            <li class="min" v-for="(item, i) in imgUrls" :key="i" @click="changeImage(i)"
                :style="{ backgroundImage: 'url(' + imgUrls[i] + ')' }"></li>
        </ul>
        <div class="button">
            <div class="button-left" @click="desc"> &lt; </div>
            <div class="button-right" @click="add"> &gt; </div>
        </div>
    </div>
</template>
  
<script>
export default {
    data() {
        return {
            imgUrls: [
                "https://static.igem.wiki/teams/4691/wiki/humanpractice/xiao-1.jpg",
                "https://static.igem.wiki/teams/4691/wiki/humanpractice/xiao-2.jpg",
                "https://static.igem.wiki/teams/4691/wiki/humanpractice/xiao-3.jpg",
                "https://static.igem.wiki/teams/4691/wiki/humanpractice/xiao-4.jpg",
            ],
            index: 0,
            imagesWidth: "100%",
        };
    },
    methods: {
        add() {
            this.index = (this.index + 1) % this.imgUrls.length;
        },
        desc() {
            this.index = (this.index - 1 + this.imgUrls.length) % this.imgUrls.length;
        },
        changeImage(i) {
            this.index = i;
        },
    },
    created() {
        // 计算图片容器的宽度
        this.imagesWidth = (100 * this.imgUrls.length) + "%";
    },
};
</script>
  
<style>
/* 原有的样式保留在这里 */

.shell {
    width: 650px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 10px #fff solid;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.images {
    width: 400%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: .2s;
}

.img {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.min-images {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 20px;
    width: 40%;
    z-index: 999;
    right: 10%;
}

.min {
    width: 60px;
    height: 55px;
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    border: solid rgba(255, 255, 255, 0.5) 5px;
    background-position: -20px 0;
}

.button {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
    color: rgb(255, 217, 102);
}

.button-left,
.button-right {
    font-size: 50px;
    background-color: rgba(66, 187, 180, 0.6);
    padding: 0 20px;
    cursor: pointer;
    line-height: 500px;
}
</style>
  