<template>
    <img :src="imgSrc" id="my-img" />
    <div></div>
</template>

<script lang='ts' setup>

defineProps({
    imgSrc: String
})



</script>

<style lang='scss' scoped>
img {
    z-index: 0;
    width: 100%;
    position: absolute;
    // position: relative;
    // max-height: 800px;
    // margin-bottom: 900px;
    z-index: 998;
    left: 0;
    top: 0;
    pointer-events: none;
}
</style>