<template>
    <div class="BIT">
        <img class="text-9" src="https://static.igem.wiki/teams/4691/wiki/home/text-9.png"/>
    </div>
</template>

<script lang='ts' setup>

</script>

<style lang='scss' scoped>
@import '../styles/trick.scss';
img {
    pointer-events: none;
}
.BIT {
    // display: inline block;
    // width: 100vw;
    // height: ;
    position: absolute;
    top: 6850px;
    right: 0;
    padding-right: 0;
}

.text-9 {
    position: relative;
    scale: 1.3;
    right: 150px;
}
 
</style>