<template>
    <div class="warning">
        <img src="https://static.igem.wiki/teams/4691/wiki/home/warning.png" />
    </div>
</template>

<script lang='ts' setup>

</script>

<style lang='scss' scoped>
@import '../styles/trick.scss';
.warning {
    position: absolute;
    top: 5300px;
    left: -100px;
    padding-right: 0;
}

img {
    pointer-events: none;
}
</style>