<template>
    <div class="footer">
        <img src="https://static.igem.wiki/teams/4691/wiki/footer/foot-v3.png" />
    </div>
</template>

<script lang='ts' setup>

</script>

<style lang='scss' scoped>
.footer {
    // display: inline block;
    // width: 100vw;
    // height: ;
    position: absolute;
    top: 10631px;
    right: 0;
    padding-right: 0;
}

img {
    width: 2001px;
    pointer-events: none;
}

</style>