<template>
    <div class="bottom">
        <img class="text-12" src="https://static.igem.wiki/teams/4691/wiki/home/text-12.png" />
    </div>
</template>

<script lang='ts' setup>

</script>

<style lang='scss' scoped>
@import '../styles/trick.scss'; 
.bottom {
    position: absolute;
    top: 9200px;
    // right: 0;
    padding-right: 0;
}

.text-12 {
    position: relative;
    top: 300px;
    left: 500px;
    scale: 1.1;
    // right: 100px;
}

img {
    pointer-events: none;
}

</style>