<template>
    <div class="what">
        <img class="text-5-6" src="https://static.igem.wiki/teams/4691/wiki/home/text-5-6.png"/>
    </div>
</template>

<script lang='ts' setup>

</script>

<style lang='scss' scoped>
@import '../styles/trick.scss';
.what {
    // display: inline block;
    // width: 100vw;
    // height: ;
    position: absolute;
    top: 5000px;
    right: 0;
    padding-right: 0;
}

.text-5-6 {
    position: relative;
    scale: 1.1;
    bottom: 300px;
    left: 120px;
}
img {
    pointer-events: none;
}

</style>