<template>
    <div class="glass" id="glass">        
        <img class="text-2" src="https://static.igem.wiki/teams/4691/wiki/home/text-2.png" />
        <img class="text-3" src="https://static.igem.wiki/teams/4691/wiki/home/text-3.png" />
        <img class="magnify" src="https://static.igem.wiki/teams/4691/wiki/home/magnifying-glass.png" />
    </div>
</template>

<script lang='js' setup>
import { onMounted } from 'vue'

onMounted(() => {
    // // 可见性发生变化后的回调
    // function callback(data) {
    //     data.map((item) => {
    //     // 目标元素，是个dom
    //     console.log(item.target);
    //     const target = item.target;
    //     // if (target.classList.contains("fade-in")) target.classList.remove("fade-in");
    //     // else target.classList.add("fade-in");
    //     target.classList.toggle("fade-in");
    // })};
    // // 交叉观察器配置项
    // let options = {};
    // // 生成交叉观察器
    // const observer = new IntersectionObserver(callback);
 
    // let targets = document.getElementsByClassName("target");

    // for (const target of targets) {
    //     observer.observe(target);
    // }
})
</script>

<style lang='scss' scoped>
@import '../styles/trick.scss';
.glass {
    // display: inline block;
    // width: 100vw;
    // height: ;
    position: absolute;
    top: 2200px;
    right: 0;
    padding-right: 0;
}

.text-2 {
    position: relative;
    // top: -600px;
    left: 220px;
    bottom: 380px;
    scale: 1.3;
}

.text-3 {
    position: relative;
    // top: -600px;
    // left: 0px;
    top: 200px;
    right: 695px;
    scale: 1.3;
}

.magnify {
    position: relative;
    left: 1070px;
    bottom: 700px;
}

img {
    pointer-events: none;
}

</style>