<template>
    <div class="however">
        <img class="text-10" src="https://static.igem.wiki/teams/4691/wiki/home/text-10.png"/>
    </div>
</template>

<script lang='ts' setup>

</script>

<style lang='scss' scoped>
@import '../styles/trick.scss';
.however {
    position: absolute;
    top: 7450px;
    right: 0;
    padding-right: 0;
}

.text-10 {
    position: relative;
    scale: 1.2;
    right: 180px;
}

img {
    pointer-events: none;
}
</style>