<template>
    <!-- <img class="background" src="https://static.igem.wiki/teams/4691/wiki/home/background.png" /> -->
    <!-- <img src="https://static.igem.wiki/teams/4691/wiki/home/background.png" /> -->
    <div class="background">
        <HomeTorch />
        <HomeGlass />
        <HomeWarning />
        <HomeEnough />
        <HomeWhat />
        <HomeBIT />
        <HomeHowever />
        <HomeDNA />
        <HomeBottom />
        <HomeFooter />
    </div>
    
</template>

<script lang='ts' setup>


</script>

<style lang='scss' scoped>
#app {
    
    overflow-y: visible;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.page {
    padding-top: 0 !important;
    background-color: transparent !important;
}

.background {
    // z-index: 998;
    overflow-x: hidden;
    left: 0;
    position: absolute;
    top: -100px;
    width: 2001px;
    height: 11680px;
    background-image: url("https://static.igem.wiki/teams/4691/wiki/home/background.png") !important;
    background-repeat: no-repeat;
    background-size: contain;

    -webkit-background-size: contain;/* 兼容Webkit内核浏览器如Chrome和Safari */ 
    -o-background-size: contain;/* 兼容Opera */ 
}

</style>