<template>
    <div class="dna">
        <img class="text-11" src="https://static.igem.wiki/teams/4691/wiki/home/text-11.png"/>
    </div>
</template>

<script lang='ts' setup>

</script>

<style lang='scss' scoped>
@import '../styles/trick.scss';
.dna {
    position: absolute;
    top: 8200px;
    right: 0;
    padding-right: 0;
}

.text-11 {
    position: relative;
    // scale: 1.2;
    right: 100px;
}

img {
    pointer-events: none;
}


</style>