<template>
    <div class="home-torch" id="torch">
        <img class="torch" src="https://static.igem.wiki/teams/4691/wiki/home/home-torch-1.png" />
        <p class="target">-An initiative DNA damage effect evaluation system</p>
        <img class="jump" id="jumpArrow" src="https://static.igem.wiki/teams/4691/wiki/home/jump.png" />
    </div>
</template>

<script lang='js' setup>
import { onMounted } from 'vue'

onMounted(() => {
    const boxes = document.querySelectorAll('img')
    console.log(boxes);
    function scrollTrigger() {
      boxes.forEach(boxxx => {
        console.log("success");
        console.log(boxxx.offsetTop, window.scrollY);
        if (boxxx.offsetTop < window.scrollY) {
          boxxx.classList.add('active')
        } else {
          boxxx.classList.remove('active')
        }
      })
    }

    window.addEventListener('scroll', scrollTrigger)
})

</script>

<style lang='scss' scoped>
@import '../styles/trick.scss';

.home-torch {
    // display: flex;
    // flex-direction: row;
    position: absolute;
    top: 1500px;
    right: 0;
    padding-right: 0;
}

.torch {
    position: relative;
    // position: absolute;
    // right: 20px;
    // margin-right: 0;
    right: -400px;
    scale: 0.5;
}

p {
    position: relative;
    color: #FFFFFF;
    font-size: 64px;
    // right: 100px;
    text-align: right !important;
    text-align-last: right !important;
    right: 80px;
    top: -100px;
}

.jump {
    position: relative;
    left: 1750px;
    bottom: 150px;
    animation: jumpBoxHandler 1.8s infinite;
}

@keyframes jumpBoxHandler {
    0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 30px); /* 可配置跳动方向 */
  }
  100% {
    transform: translate(0px, 0px);
  }
}

img {
    pointer-events: none;
}

</style>