<template>
    <div class="enough">
        <img class="text-4" src="https://static.igem.wiki/teams/4691/wiki/home/text-4.png" />
    </div>
</template>

<script lang='ts' setup>

</script>

<style lang='scss' scoped>
@import '../styles/trick.scss';
.enough {
    // display: inline block;
    // width: 100vw;
    // height: ;
    position: absolute;
    top: 3000px;
    right: 0;
    padding-right: 0;
}

.text-4 {
    position: relative;
    right: 150px;
}

img {
    pointer-events: none;
}

</style>