<template>
    <div>
        <img :src="imgSrc"/>
    </div>
</template>

<script lang='ts' setup>

defineProps({
    imgSrc: { type: String, default: "https://static.igem.wiki/teams/4691/wiki/humanpractice/arrow-1.png" }
})

</script>

<style lang='scss' scoped>
img {
    pointer-events: none;
}
</style>