<template>
    <div class="circle">
        <IHPText text="INSPIRATION" styleChoice="one" style="left: 0px; top: 120px;" />
        <IHPText text="IDEA" styleChoice="one" style="left: 40%; top: 0;" />
        <IHPText text="CONSULTATION" styleChoice="one" style="right: 5%; top: 120px;" />
        <IHPText text="IMPROVEMeNT" styleChoice="one" style="left: 50%; top: 280px;" />
        <IHPText text="RESULT" styleChoice="one" style="left: 20%; top: 280px;" />
        <IHPArrow imgSrc="https://static.igem.wiki/teams/4691/wiki/humanpractice/arrow-1.png" style="left: 20%; top: 0;" />
        <IHPArrow imgSrc="https://static.igem.wiki/teams/4691/wiki/humanpractice/arrow-2.png"
            style="left: 55%; top: 10px;" />
        <IHPArrow imgSrc="https://static.igem.wiki/teams/4691/wiki/humanpractice/arrow-3.png"
            style="left: 70%; top: 150px;" />
        <IHPArrow imgSrc="https://static.igem.wiki/teams/4691/wiki/humanpractice/arrow-4.png"
            style="left: 27%; top: 300px;" />
        <IHPArrow imgSrc="https://static.igem.wiki/teams/4691/wiki/humanpractice/arrow-5.png"
            style="left: 10%; top: 150px;" />
        <img src="https://static.igem.wiki/teams/4691/wiki/humanpractice/finger.png"
            style="left: 75%; top: 120px; scale: 0.6;" />
    </div>
</template>

<script lang='ts' setup>

</script>

<style lang='scss' scoped>
.circle {
    margin: auto;
    width: 1000px;
    height: 400px;
    position: relative;
}

.circle>* {
    position: absolute;
}
</style>