<template>
    <div @click="jump(text)">
        <span :style="{'color': styleChoice == 'one' ? '#2AB6AE' : '#7C12A1'}"> {{ text[0] }} </span>
        <span v-for="word in text.slice(1)" :style="{'color': styleChoice == 'one' ? '#10106E' : '#E01C7B'}"> {{ word }} </span>
    </div>
</template>

<script lang='ts' setup>

defineProps({
    text: { type: String, default: "HELLO"},
    styleChoice: { type: String, default: "one"}
})

function jump(headerText) {
    document.getElementById(headerText.toLowerCase())?.scrollIntoView({
        behavior: 'smooth'
    });
}


</script>

<style lang='scss' scoped>
@font-face {
    font-family: "IHPHeader";
    src: url(https://static.igem.wiki/teams/4691/wiki/header.ttf);
}
@font-face {
    font-family: "IHPHeader";
    src: url(https://static.igem.wiki/teams/4691/wiki/header.ttf);
}

span {
    font-size: 32px;
    font-family: IHPHeader;
}
span {
    font-size: 32px;
    font-family: IHPHeader;
}

</style>