<template lang="">
    <div class="box" :style="{float: float}">
        <div class="image-outer">
            <img class="decoration" style="bottom: 20px; left: -20px " src="https://static.igem.wiki/teams/4691/wiki/image-and-label/4-1.png"  alt="hhhhh" />
            <img class="decoration" style="top: -10px; left: 6px ;" src="https://static.igem.wiki/teams/4691/wiki/image-and-label/4-2.png"  alt="hhhhh" /> 
            <img class="decoration" style="top: -20px; right: 20px" src="https://static.igem.wiki/teams/4691/wiki/image-and-label/4-3.png"  alt="hhhhh" />
            <img class="decoration" style="top: -10px; left: -15px" src="https://static.igem.wiki/teams/4691/wiki/image-and-label/4-4.png"  alt="hhhhh" />
            <img class="decoration" style="bottom: -10px; right: -10px" src="https://static.igem.wiki/teams/4691/wiki/image-and-label/4-5.png"  alt="hhhhh" />
            <img class="decoration" style="top: -10px; right: -8px" src="https://static.igem.wiki/teams/4691/wiki/image-and-label/4-6.png"  alt="hhhhh" />
            <div class="image-label" >
                <img :src="ImageSrc" :style="{ zoom: scale }" alt="" />
            </div>
        </div>
        <span> {{ Label }} </span>
    </div>
</template>
<script setup>

const props = defineProps({
    ImageSrc: { type: String, default: "https://static.igem.wiki/teams/4128/wiki/logo.png" },
    Label: { type: String, default: "" },
    float: { type: String, default: "none" },
    scale: { type: String, default: "100%" }
})


</script>
<style lang="css" scoped>
.has-not-border {
    border: 0 !important;
    border-radius: 0 !important;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-width: 1px;
    border-color: #030303;
    padding: 2px; */
    margin: 2em;
}

.image-label {
    --image-label-padding: 10px;
    /* --image-label-margin: 10px; */
}

.image-label {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: var(--image-label-padding); */
    /* padding-bottom: var(--image-label-padding); */
    border-style: solid;
    padding: 10px;
    border-color: #E01C7B;
    border-radius: 3em;
    border-width: 5px;
    position: relative;
    z-index: 1;
}

.image-outer {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: var(--image-label-padding); */
    /* padding-bottom: var(--image-label-padding); */
    border-style: solid;
    padding: 10px;
    border-color: #2AB6AE;
    border-radius: 3em;
    border-width: 5px;
    position: relative;
}


.image-outer .decoration {
    position: absolute;
    /* 使用绝对定位 */
}


.image-outer > img {
    max-width: 30px;
    /* 根据需要调整图片的大小 */
    /* 可以添加其他样式属性，以适应你的需求 */
    pointer-events: none;
}


.image-label img {
    /* margin: auto; */
    align-self: center;
    border-radius: 0.5em;
}

.box span {
    align-self: center;
    margin-top: 10px;
    font-size: 0.9em;
    font-style: italic;
}
</style>