<template lang="">
    <div class="box" :style="{float: float}">
        <div class="image-outer">
            <img class="decoration" style="bottom: 0px; right: -10px " src="https://static.igem.wiki/teams/4691/wiki/image-and-label/3-1.png"  alt="hhhhh" />
            <img class="decoration" style="top: -10px; right: -5px ;" src="https://static.igem.wiki/teams/4691/wiki/image-and-label/3-2.png"  alt="hhhhh" /> 
            <img class="decoration" style="top: -20px; left: -20px" src="https://static.igem.wiki/teams/4691/wiki/image-and-label/3-3.png"  alt="hhhhh" />
            <img class="decoration" style="top: -20px; left: 20px" src="https://static.igem.wiki/teams/4691/wiki/image-and-label/3-4.png" alt="hhhhh" />
            <img class="decoration" style="bottom: -20px; left: -10px" src="https://static.igem.wiki/teams/4691/wiki/image-and-label/3-5.png"  alt="hhhhh" />
            <img class="decoration" style="top: 50%; left: -20px" src="https://static.igem.wiki/teams/4691/wiki/image-and-label/3-6.png"  alt="hhhhh" />
            <div class="image-label">
                <img  :src="ImageSrc" :style="{ zoom: scale }" alt="" />
            </div>
        </div>
        <span> {{ Label }} </span>
    </div>
</template>
<script setup>

const props = defineProps({
    ImageSrc: { type: String, default: "https://static.igem.wiki/teams/4128/wiki/logo.png" },
    Label: { type: String, default: "" },
    float: { type: String, default: "none" },
    scale: { type: String, default: "100%" }
})


</script>

<style lang="css" scoped>

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-width: 1px;
    border-color: #030303;
    padding: 2px; */
    margin: 2em;
}



.image-outer {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    padding: 10px;
    border-color: #2AB6AE;
    border-radius: 1em;
    position: relative;
}



.decoration {
    position: absolute;
    /* 使用绝对定位 */
    pointer-events: none;
}


.image-outer > img {
    max-width: 30px;
    /* 根据需要调整图片的大小 */
    /* 可以添加其他样式属性，以适应你的需求 */
}

.image-label {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    padding: 10px;
    border-color: #E01C7B;
    border-radius: 1em;
    position: relative;
}


.image-label img {
    /* margin: auto; */
    align-self: center;
    border-radius: 0.5em;
}

.box span {
    align-self: center;
    margin-top: 10px;
    font-size: 0.9em;
    font-style: italic;
}
</style>