<template>
    <div class="wrapper">
        <div class="cols">
            <div id=1 class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front">
                        <div class="inner">
                            <p id=p11>Locked</p>
                            <span>网瘾少年</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p id=p12 class="backstyle">结局成就1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang='ts' setup>
const props = defineProps({
    
})
</script>

<style lang='scss' scoped>
@import '../styles/member.scss';
</style>