<template>
    <div id="sidebar">
        <a href="#Members" class="section-link Members">Members</a>
        <a href="#Advisors" class="section-link Advisors">Advisors</a>
        <a href="#Pi" class="section-link Pi">PI&Instructors</a>
    </div>
</template>

<script setup>
import { onMounted } from 'vue'

onMounted(() => {
    const sectionLinks = document.querySelectorAll(".section-link");
    sectionLinks.forEach(function (link) {
        var sectionId = link.getAttribute("href");
        var section = document.querySelector(sectionId);

        if (section && isElementInViewport(section)) {
            link.classList.add("active");
        } else {
            link.classList.remove("active");
        }
    });

    // 使用 JavaScript 监听页面滚动事件，为侧边栏添加固定样式
    window.addEventListener("scroll", function () {
        console.log("scroll addEventListener");
        const sidebar = document.getElementById("sidebar");
        if (window.pageYOffset >= 200) { // 根据需要调整滚动阈值
            sidebar.classList.add("fixed");
        } else {
            sidebar.classList.remove("fixed");
        }
    });

    function updateSidebarPosition() {
        console.log("updateSidebarPosition");
        const sidebar = document.getElementById("sidebar");
        const content = document.getElementById("content");
        const contentRect = content.getBoundingClientRect();
        const screenHeight = window.innerHeight;

        if (contentRect.top <= screenHeight / 2) {
            sidebar.style.opacity = 1;
            sidebar.style.top = `${screenHeight / 2 - sidebar.clientHeight / 2}px`;
        }
        else {
            sidebar.style.opacity = 0;
            sidebar.style.top = `${screenHeight / 2 - sidebar.clientHeight / 2}px`;
        }
    }

    window.addEventListener("scroll", updateSidebarPosition);
    window.addEventListener("resize", updateSidebarPosition);

    // 判断元素是否在可视区域内的辅助函数
    function isElementInViewport(el) {
        const rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)
        );
    }
})

</script>

<style lang='scss' scoped>
@import '../styles/member.scss';

#sidebar {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    position: fixed;
    top: 150px;
    /* 距离页面上方的距离 */
    left: 20px;
    /* 距离页面左侧的距离 */
    width: 220px;
    height: auto;
    /* 自适应高度 */
    /*  border-top-right-radius: 10px; /* 右上圆角 */
    /*  border-bottom-right-radius: 10px; /* 右下圆角 */
    opacity: 0;
    /* 初始时透明度为0 */
    transition: opacity 0.3s ease;
    /* 添加淡出效果 */
}

.section-link {
    display: block;
    color: black;
    font-size: medium;
    width: 68%;
    text-align: left;
    /* 文字左对齐 */
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.1s, transform 0.3s;
    position: relative;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.section-link::after {
    content: ">>";
    padding-left: 10px;
    display: inline-block;
    opacity: 0;
    transform: translateX(-10px);
    /* 初始向左偏移，透明度为0 */
    transition: opacity 0.3s, transform 0.3s;
}

.section-link:hover,
.section-link.active {
    color: white;
    /* 选中后换颜色 */
    font-size: large;
    transform: translateX(20px);
    /* 方框向右移动 20px */
}

/* 三种不一样颜色，直接子类覆盖 */
.Members:hover,
.Members.active {
    background-color: rgb(54, 188, 179);
    /* 蓝色背景 */
    box-shadow: 2px 0px 2px 2px rgb(54, 188, 179);
    /* 添加阴影效果 */
}

.Advisors:hover,
.Advisors.active {
    background-color: rgb(224, 29, 123);
    /* 蓝色背景 */
    box-shadow: 2px 0px 2px 2px rgb(224, 29, 123);
    /* 添加阴影效果 */
}

.Pi:hover,
.Pi.active {
    background-color: rgb(197, 23, 157);
    /* 蓝色背景 */
    box-shadow: 2px 0px 2px 2px rgb(197, 23, 157);
    /* 添加阴影效果 */
}

// #sidebar {
//     z-index: 999;
// }
</style>