<template>
    <div class="parallax-content">

        <section class="parallax">
            <img src="https://static.igem.wiki/teams/4691/wiki/members/members.png" class="member-title" id="member_title">
        </section>

        <div class="sec">
            <div id="sidebar">
                <a href="#PI" class="section-link Members">PI</a>
                <a href="#Instructor" class="section-link Advisors">Instructors</a>
                <a href="#Advisor" class="section-link Pi">Advisors</a>
                <a href="#Leaders" class="section-link Members">Leaders</a>
                <a href="#Biology" class="section-link Advisors">Biology</a>
                <a href="#Hardware" class="section-link Pi">Hardware</a>
                <a href="#Model" class="section-link Members">Model</a>
                <a href="#Wiki" class="section-link Advisors">Wiki</a>
                <a href="#Art" class="section-link Pi">Art</a>
                <a href="#HumanPractice" class="section-link Members">HumanPractice</a>
            </div>
            <div id="content">
                <section id="Team" class="section">
                    <h1>Team</h1>
                    <MemberCfigure style="margin-bottom: 30px;" />
                </section>

                <section id="PI" class="section">
                    <h2>PI</h2>
                    <div class="container">
                        <div class="box" v-for="(item, index) in PI" :key="index" @mouseover="flipImage(index, 0)"
                            @mouseleave="unflipImage(index, 0)">
                            <div class="card" :class="{ flipped: index === flippedIndex[0] }">
                                <div class="front">
                                    <img :src="item.image" alt="Image" />
                                </div>
                                <div class="back">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="Instructor" class="section">
                    <h2>Instructors</h2>
                    <div class="container">
                        <div class="box" v-for="(item, index) in Instructor" :key="index" @mouseover="flipImage(index, 1)"
                            @mouseleave="unflipImage(index, 1)">
                            <div class="card" :class="{ flipped: index === flippedIndex[1] }">
                                <div class="front">
                                    <img :src="item.image" alt="Image" />
                                </div>
                                <div class="back">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="Advisor" class="section">
                    <h2>Advisors</h2>
                    <div class="container">
                        <div class="box" v-for="(item, index) in Advisor" :key="index" @mouseover="flipImage(index, 2)"
                            @mouseleave="unflipImage(index, 2)">
                            <div class="card" :class="{ flipped: index === flippedIndex[2] }">
                                <div class="front">
                                    <img :src="item.image" alt="Image" />
                                </div>
                                <div class="back">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <p style="padding-bottom: 10px;"></p>
                <section id="Leaders" class="section">
                    <h2>Leaders</h2>
                    <div class="container">
                        <div class="box" v-for="(item, index) in Leaders" :key="index" @mouseover="flipImage(index, 3)"
                            @mouseleave="unflipImage(index, 3)">
                            <div class="card" :class="{ flipped: index === flippedIndex[3] }">
                                <div class="front">
                                    <img :src="item.image" alt="Image" />
                                </div>
                                <div class="back">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="Biology" class="section">
                    <h1>Biology</h1>
                    <h2>Biology Team</h2>
                    <div class="team-img-container">
                        <img v-for="(item, index) in Biology_Team" :key="index" :src="item.image">
                    </div>

                    <h2>Personal</h2>
                    <div class="container">
                        <div class="box" v-for="(item, index) in Biology_Personal" :key="index"
                            @mouseover="flipImage(index, 4)" @mouseleave="unflipImage(index, 4)">
                            <div class="card" :class="{ flipped: index === flippedIndex[4] }">
                                <div class="front">
                                    <img :src="item.image" alt="Image" />
                                </div>
                                <div class="back">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="Hardware" class="section">
                    <h1>Hardware</h1>
                    <h2>Hardware Team</h2>
                    <div class="team-img-container">
                        <img v-for="(item, index) in Hardware_Team" :key="index" :src="item.image">
                    </div>
                    <h2>Personal</h2>
                    <div class="container">
                        <div class="box" v-for="(item, index) in Hardware_Personal" :key="index"
                            @mouseover="flipImage(index, 5)" @mouseleave="unflipImage(index, 5)">
                            <div class="card" :class="{ flipped: index === flippedIndex[5] }">
                                <div class="front">
                                    <img :src="item.image" alt="Image" />
                                </div>
                                <div class="back">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="Model" class="section">
                    <h1>Model</h1>
                    <h2>Model Team</h2>
                    <div class="team-img-container">
                        <img v-for="(item, index) in Model_Team" :key="index" :src="item.image">
                    </div>
                    <h2>Personal</h2>
                    <div class="container">
                        <div class="box" v-for="(item, index) in Model_Personal" :key="index"
                            @mouseover="flipImage(index, 6)" @mouseleave="unflipImage(index, 6)">
                            <div class="card" :class="{ flipped: index === flippedIndex[6] }">
                                <div class="front">
                                    <img :src="item.image" alt="Image" />
                                </div>
                                <div class="back">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="Wiki" class="section">
                    <h1>Wiki</h1>
                    <h2>Wiki Design & Build Team</h2>
                    <div class="team-img-container">
                        <img v-for="(item, index) in Wiki_Team" :key="index" :src="item.image">
                    </div>
                    <h2>Personal</h2>
                    <div class="container">
                        <div class="box" v-for="(item, index) in Wiki_Personal" :key="index"
                            @mouseover="flipImage(index, 7)" @mouseleave="unflipImage(index, 7)">
                            <div class="card" :class="{ flipped: index === flippedIndex[7] }">
                                <div class="front">
                                    <img :src="item.image" alt="Image" />
                                </div>
                                <div class="back">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="Art" class="section">
                    <h1>Art</h1>
                    <h2>Art & Design Team</h2>
                    <div class="team-img-container">
                        <img v-for="(item, index) in Art_Team" :key="index" :src="item.image">
                    </div>
                    <h2>Personal</h2>
                    <div class="container">
                        <div class="box" v-for="(item, index) in Art_Personal" :key="index" @mouseover="flipImage(index, 8)"
                            @mouseleave="unflipImage(index, 8)">
                            <div class="card" :class="{ flipped: index === flippedIndex[8] }">
                                <div class="front">
                                    <img :src="item.image" alt="Image" />
                                </div>
                                <div class="back">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="HumanPractice" class="section">
                    <h1>Human Practice</h1>
                    <h2>Human Practice Team</h2>
                    <div class="team-img-container">
                        <img v-for="(item, index) in HumanPractice_Team" :key="index" :src="item.image">
                    </div>
                    <h2>Personal</h2>
                    <div class="container">
                        <div class="box" v-for="(item, index) in HumanPractice_Personal" :key="index"
                            @mouseover="flipImage(index, 9)" @mouseleave="unflipImage(index, 9)">
                            <div class="card" :class="{ flipped: index === flippedIndex[9] }">
                                <div class="front">
                                    <img :src="item.image" alt="Image" />
                                </div>
                                <div class="back">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
</template>

<script setup>

import { onMounted } from 'vue';

onMounted(() => {
    const sectionLinks = document.querySelectorAll(".section-link");
    sectionLinks.forEach(function (link) {
        var sectionId = link.getAttribute("href");
        var section = document.querySelector(sectionId);

        if (section && isElementInViewport(section)) {
            link.classList.add("active");
        } else {
            link.classList.remove("active");
        }
    });

    // 使用 JavaScript 监听页面滚动事件，为侧边栏添加固定样式
    window.addEventListener("scroll", function () {
        console.log("scroll addEventListener");
        const sidebar = document.getElementById("sidebar");
        if (window.pageYOffset >= 200) { // 根据需要调整滚动阈值
            sidebar.classList.add("fixed");
        } else {
            sidebar.classList.remove("fixed");
        }
    });

    function updateSidebarPosition() {
        console.log("updateSidebarPosition");
        const sidebar = document.getElementById("sidebar");
        const content = document.getElementById("content");
        const contentRect = content.getBoundingClientRect();
        const screenHeight = window.innerHeight;

        if (contentRect.top <= screenHeight / 2) {
            sidebar.style.opacity = 1;
            sidebar.style.top = `${screenHeight / 2 - sidebar.clientHeight / 2}px`;
        }
        else {
            sidebar.style.opacity = 0;
            sidebar.style.top = `${screenHeight / 2 - sidebar.clientHeight / 2}px`;
        }
    }

    window.addEventListener("scroll", updateSidebarPosition);
    window.addEventListener("resize", updateSidebarPosition);

    // 判断元素是否在可视区域内的辅助函数
    function isElementInViewport(el) {
        const rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)
        );
    }
})
</script>
<script>
export default {
    data() {
        return {
            Teams: [
                { image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-1-all.jpg" },
                { image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-2-all.jpg" },
                { image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-3-all.jpg" },
                { image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-4-all.jpg" },
                { image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-5-all.jpg" },
            ],
            PI: [
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/pi-2-lxf2.jpg',
                    description: 'Lv Xuefei Professor :master supervisor',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/pi-1-dyl2.jpg',
                    description: 'Deng Yulin Professor :doctoral supervisor. The research field belongs to the cross field of neurobiology, space biology and biological analysis technology.',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/pi-3-lxq2.jpg',
                    description: 'Li Xiaoqiong Professor: doctoral supervisor.',
                    isFlipped: false
                },

            ],
            Instructor: [
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/pi-11-lyj.jpg',
                    description: 'Li YUJUAN supervisor：wish you all success',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructor-12-ych.jpg',
                    description: 'Chunhua Yang, assistant research fellow in space biomedical engineering, School of life, Beijing University of technology.',
                    isFlipped: false
                },

            ],
            Advisor: [
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructors-8-jh.jpg',
                    description: 'Jiang Hao participated in iGEM for five years, who is our team’s eldest brother—— brightest lighthouse on our voyage in 2023',
                    isFlipped: false
                },

                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructors-7-lay.jpg',
                    description: 'Li Anyi 2017 Captain of BIT majoring in biomedical engineering， who is our guardian angel on our expedition to synthetic biology .',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructors-6-yy.jpg',
                    description: 'Yu Yue,majoring in biology, who is our forever company alongside our travel throughout the iGEM competition.',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructor-11-lzm.jpg',
                    description: 'ZHOUMI LIU：Wish you gain happiness in iGEM!',
                    isFlipped: false
                },

                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructors-1-zty.png',
                    description: 'Zhou Taiyan(Micro and Nano Manipulation; Biosensing): Progress a little bit every day',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructors-2-dyf.jpg',
                    description: 'Deng Yifan(Space neurobiology, Organ-on-a-chip): Enjoy the competition, enjoy learning.',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructors-3-fyl.png',
                    description: 'Fan Yunlong(Opto-mechatronics technology；Separation and analysis technology；Microfluidic chip.):I hope you all gain and grow!',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructors-4-lsy.png',
                    description: 'Lu Shuyu (Opto-mechatronics technology；Point-of-care testing；Microfluidic chip)：No pains, no gains',
                    isFlipped: false
                },

                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructors-5-wk.png',
                    description: 'Wang Kun(Natural Language Processing, Medical Image Processing, Microfluidic Chip)：hope you wil turn what you learn into your own skills',
                    isFlipped: false
                },

                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/instructors/instructors-10-wx.jpg',
                    description: 'Xu Wang: Everything comes to him who waits',
                    isFlipped: false
                },

            ],

            Leaders: [
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-21-yzh.gif',
                    description: 'ZIHAN YAN：Hope the development of synthetic biology can provide benefits to all earthlings, not just humans',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-26-zcs.gif',
                    description: 'CHAOSHUAI　ZHU ：Looking forward to meeting like-minded partners on the competition stage and creating wonderful sparks together',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-14-syx.gif',
                    description: 'YAXI SHI：Friendship first, competition second',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-3-fbq.gif',
                    description: 'BAOQI　FANG：be free to enjoy',
                    isFlipped: false
                },
            ],
            Biology_Team: [
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-1-wetlab.jpg"
                }
            ],
            Biology_Personal: [
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-3-fbq.gif',
                    description: 'BAOQI　FANG：be free to enjoy',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-24-zhy.gif',
                    description: 'HAOYU ZHENG:Only science and dreams promote our future',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-16-wjl.gif',
                    description: 'JIALU WANG :Gallop into Xianyang, youth unrestrained, Falcon\'s grace, butterfly\'s wildness contained. Excitement and freedom, in every stride, A reckless spirit, where dreams coincide.',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-13-ljy.gif',
                    description: 'JUNYI LIU：Not leaving the green mountains, accompanying and sharing.',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-15-qyz.gif',
                    description: 'YUZHI QIN：Wandering in the world of freedom, I would rather be a cloud in the sky',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-22-yn.gif',
                    description: 'NAN YANG：right here,right now',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-2-fs.gif',
                    description: 'SHUAI FAN：Hello, I\'m Fan Shuai from IGEM BIT Biology. I sincerely hope that our program will be helpful to you from all over the country. Our projects are designed for environmental detection and your health!l, member of biology and art design',
                    isFlipped: false
                },

            ],
            Hardware_Team: [
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-1-hardware.jpg"
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-2-hardware.jpg"
                },
            ],
            Hardware_Personal: [
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-26-zcs.gif',
                    description: 'CHAOSHUAI　ZHU ：Looking forward to meeting like-minded partners on the competition stage and creating wonderful sparks together',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-5-gys.gif',
                    description: 'YUSI GAO：I am in hardware group. I hope to make progress together with everyone!',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-6-gjw.gif',
                    description: 'In the process of constantly revising the design to adapt to the expected function, I can gain a great sense of accomplishment.',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-18-wly.gif',
                    description: ' LUYAO WANG ：Art DepartmentWhen you focus on the good，the good gets better.',
                    isFlipped: false
                },
                {
                    image: 'https://static.igem.wiki/teams/4691/wiki/team/member/members-23-yyg.gif',
                    description: 'YANGUI YANG：Hope to exercise myself and gain Knowledge in iGEM~',
                    isFlipped: false
                },
            ],
            Model_Team: [
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-1-model.jpg"
                },
            ],
            Model_Personal: [
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-8-jsj.gif",
                    description: "JING SHUJUN:Love all, trust a few, do wrong to none.",
                    isFlipped: false
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-4-ftr.gif",
                    description: "TIANRUI FU:So we beat on, boats against the current, borne back ceaselessly into the past.",
                    isFlipped: false
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-12-lx.gif",
                    description: "XIAOLIANG：Hope iGEM is getting better and better!",
                    isFlipped: false
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-9-kyr.gif",
                    description: "YIRAN KONG:there is no such thing as a hard climb.",
                    isFlipped: false
                },
            ],
            Wiki_Team: [
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-1-wiki.jpg"
                },
            ],
            Wiki_Personal: [
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-7-gyj.gif",
                    description: "YUJIE　GUO：Always like coding gaming",
                    isFlipped: false
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-11-lhz.gif",
                    description: "HUIZHI　LIANG：I wish you all success",
                    isFlipped: false
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-29-ldf.jpg",
                    description: "DONGFANG LIN:Happy iGEMers!!",
                    isFlipped: false
                },
            ],
            Art_Team: [
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-1-art.jpg"
                },
            ],
            Art_Personal: [
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-20-xyx.gif",
                    description: "YUXIN XIAO：I am responsible for the visual design and beautification of the web page, and I hope to add interest and dissemination to your research content through my own design, so that you can understand us in the experience of beauty!",
                    isFlipped: false
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-18-wly.gif",
                    description: "LUYAO WANG ：Art DepartmentWhen you focus on the good，the good gets better.",
                    isFlipped: false
                },
            ],
            HumanPractice_Team: [
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/m-1-hp.jpg"
                },
            ],
            HumanPractice_Personal: [
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-14-syx.gif",
                    description: "YAXI SHI：Friendship first, competition second",
                    isFlipped: false
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-1-zhz.gif",
                    description: "HANZHI　ZHANG：Hi! Nice to meet you. I am INTP personality type and as a Hufflepuff I focus on being friendly, loyal and hardworking. In my spare time, I like to watch documentaries. This is because I am curious about the search for facts and knowledge. Documentaries can give me new insights and inspiration, but also a way to relax and entertain. Currently I work in HP group, and when my brain is exhausted, wandering around alone often gives me new inspiration.",
                    isFlipped: false
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-17-wjn.gif",
                    description: "JIANING　WANG :Light the will, find the way, tomorrow will be a whole-new day!",
                    isFlipped: false
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-19-wyh.gif",
                    description: "YUHANGWU:There is more to come",
                    isFlipped: false
                },
                {
                    image: "https://static.igem.wiki/teams/4691/wiki/team/member/members-10-lgl.gif",
                    description: "DragonleE: Hello, I'm Kuan-Lung Lee, a member of BIT Human Practice apartment. Work out, playing golf, and comunicating with others on current events or BME stuff, compose my daily. I do believe that opportunity favors the prepared mind",
                    isFlipped: false
                },

            ],
            flippedIndex: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1], // 初始值为-1，表示没有卡片被翻转
        };
    },
    methods: {
        flipImage(index, i) {
            this.flippedIndex[i] = index; // 设置当前悬停的卡片索引
        },
        unflipImage(index, i) {
            if (this.flippedIndex[i] === index) {
                this.flippedIndex[i] = -1; // 将当前悬停的卡片索引重置为-1
            }
        },
    }

};
</script>

<style lang='scss' scoped >
#sidebar {
    background-color: rgba(185, 225, 186, 0.6);
    border-radius: 0 20px 20px 0;
    box-shadow: 5px 5px 10px rgb(155, 217, 139);
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    position: fixed;
    top: 150px;
    /* 距离页面上方的距离 */
    left: 0px;
    /* 距离页面左侧的距离 */
    width: 183px;
    height: auto;
    /* 自适应高度 */
    /*  border-top-right-radius: 10px; /* 右上圆角 */
    /*  border-bottom-right-radius: 10px; /* 右下圆角 */
    opacity: 0;
    /* 初始时透明度为0 */
    transition: opacity 0.3s ease;
    /* 添加淡出效果 */
}

.section-link {
    display: block;
    color: black;
    font-size: medium;
    width: 68%;
    text-align: left;
    /* 文字左对齐 */
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.1s, transform 0.3s;
    position: relative;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.section-link::after {
    content: ">>";
    padding-left: 10px;
    display: inline-block;
    opacity: 0;
    transform: translateX(-10px);
    /* 初始向左偏移，透明度为0 */
    transition: opacity 0.3s, transform 0.3s;
}

.section-link:hover,
.section-link.active {
    color: white;
    /* 选中后换颜色 */
    font-size: large;
    transform: translateX(20px);
    /* 方框向右移动 20px */
}

/* 三种不一样颜色，直接子类覆盖 */
.Members:hover,
.Members.active {
    background-color: rgb(54, 188, 179);
    /* 蓝色背景 */
    box-shadow: 2px 0px 2px 2px rgb(54, 188, 179);
    /* 添加阴影效果 */
    height: 30px;
}

.Advisors:hover,
.Advisors.active {
    background-color: rgb(224, 29, 123);
    /* 蓝色背景 */
    box-shadow: 2px 0px 2px 2px rgb(224, 29, 123);
    /* 添加阴影效果 */
}

.Pi:hover,
.Pi.active {
    background-color: rgb(197, 23, 157);
    /* 蓝色背景 */
    box-shadow: 2px 0px 2px 2px rgb(197, 23, 157);
    /* 添加阴影效果 */
}


.theme-default-content {
    margin-top: 100px;
}

.parallax-content {
    position: relative;
    z-index: 2;
}

.parallax {
    width: 500px;
    height: auto;
}

h1 {
    text-align: center;
    color: rgb(230, 211, 5);
}

h2 {
    padding-top: 35px;
    padding-bottom: 10px;
    text-align: left;
    /* 文本水平居中 */
    color: rgb(44, 179, 172);
    /* 字体颜色设置为黄色 */
    font-size: 40px;
    /* 字体大小设置为24像素（可以根据需要调整） */
}

p {

    word-wrap: break-word;
    /* 自动换行，防止文本溢出 */
}

.team-img-container {
    text-align: center;
    /* 图片水平居中 */
}

.team-img-container img {
    width: 700px;
    margin-bottom: 20px;
    /* 设置图片宽度 */
    height: auto;
    /* 根据宽度等比例缩放高度 */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* 设置阴影 */
    border-radius: 10px;
    /* 设置圆角 */
}

.container {
    position: relative;
    top: -330px;
    left: 0px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 700px;
    grid-gap: 30px;
    padding-bottom: 20px;
}

.container .box {
    position: relative;
    overflow: hidden;
    top: 50vh;
    width: 200px;
    height: 200px;
    transition: .5s;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // margin-top: -15%;
}


.card {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.card .front {
    transform: rotateY(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 248, 255);
}

.card .back {
    transform: rotateY(180deg);
    width: 95%;
    background-color: rgb(44, 179, 172); //背景颜色未敲定
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px !important;
    word-wrap: break-word;
    padding: 10px;
    padding-right: 20px;
    color: white; //文字颜色
    overflow-y: scroll !important;
    scrollbar-width: none !important;
}

p {
    font-size: 10px !important;
}

.card.flipped .front {
    transform: rotateY(-180deg);
}

.card.flipped .back {
    transform: rotateY(0deg);
}

// .container .box:nth-child(3n + 1) {
//     transform: translate(-400px, 0) scale(0);
// }

// .container .box:nth-child(3n + 2) {
//     transform: translate(0, 400px) scale(0);
// }

// .container .box:nth-child(3n + 3) {
//     transform: translate(400px, 0) scale(0);
// }

// .container .box.active {
//     transform: translate(0, 0) scale(1);
// }
</style>