<template>
    <div id="background_img" class="parallax-background"></div>
    <MemberParallax />
</template>

<script setup>
import { onMounted } from 'vue'

onMounted(() => {
    window.addEventListener('scroll', function () {
        const background = document.getElementById("background_img"); // 背景图
        const content = document.querySelector("body"); // 内容区域
        const scrollRatio = 0.9; // 滚动速度比例
        let contentHeight = content.clientHeight; // 内容区域的高度
        let windowHeight = window.innerHeight; // 浏览器窗口的高度
        let maxScroll = contentHeight - windowHeight; // 最大滚动距离

        // 获取当前滚动的偏移量
        let scrollOffset = window.scrollY;

        // 计算背景滚动的偏移量
        let backgroundOffset = scrollOffset * scrollRatio;

        // 确保背景图不会滚动超出内容的底部
        if (backgroundOffset > maxScroll) {
            backgroundOffset = maxScroll;
        }
        background.style.transform = `translateY(${backgroundOffset}px)`;
    });
})

</script>

<style lang='scss' scoped>
.parallax-background {
    width: 120%;
    height: 300%;
    background-image: url('https://static.igem.wiki/teams/4691/wiki/members/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: -1px;
    top: 0;
    z-index: 0;
}
</style>