<template>
    <div class='navbar' id="navbar">
        <div class="logo">
            <img src="https://static.igem.wiki/teams/4691/wiki/home/logo.png" alt="">
        </div>
        <ul>
            <li v-for="(nav, index) in menus" :key="index" @mouseover="nav.show = true" @mouseout="nav.show = false">
                <div class="menu">
                    <div class="menu-father">
                        <a :href="nav.url"> {{ nav.name }} </a>
                        <img src="https://static.igem.wiki/teams/4691/wiki/home/smile.png" v-show="nav.show"
                            class="smile-img">
                    </div>
                    <div class="menu-sons" v-show='nav.show'>
                        <ul>
                            <li v-for="subMenu in nav.subMenus" :key="subMenu">
                                <a :href="subMenu.url">
                                    {{ subMenu.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>    

<script>
export default {
    name: 'NavBar',
    data() {
        return {
            menus: [
                {
                    name: 'HP', url: '#', show: false, subMenus: [
                        { name: 'HP', url: 'https://2023.igem.wiki/bit/human-practices', },
                        { name: 'Integrated HP', url: 'https://2023.igem.wiki/bit/integrated-human-practices', }
                    ]
                },
                {
                    name: 'Drylab', url: '#', show: false, subMenus: [
                        { name: 'Model', url: 'https://2023.igem.wiki/bit/model', },
                        { name: 'Hardware', url: 'https://2023.igem.wiki/bit/hardware' },
                    ]
                },
                {
                    name: 'Wetlab', url: '#', show: false, subMenus: [
                        { name: 'Experiments', url: 'https://2023.igem.wiki/bit/experiments', },
                        { name: 'Results', url: 'https://2023.igem.wiki/bit/results', },
                        { name: 'Notebook', url: 'https://2023.igem.wiki/bit/notebook', }
                    ]
                },
                {
                    name: 'PROJECT', url: '#', show: false, subMenus: [
                        { name: 'Description', url: 'https://2023.igem.wiki/bit/description' },
                        { name: 'Engineering', url: 'https://2023.igem.wiki/bit/engineering', },
                        { name: 'Parts', url: 'https://2023.igem.wiki/bit/parts' },
                        { name: 'Safety', url: 'https://2023.igem.wiki/bit/safety' }
                    ]
                },
                {
                    name: 'TEAM', url: '#', show: false, subMenus: [
                        { name: 'Members', url: 'https://2023.igem.wiki/bit/members' },
                        { name: 'Attributions', url: 'https://2023.igem.wiki/bit/attributions' },
                        { name: 'Contribution', url: 'https://2023.igem.wiki/bit/contribution' }
                    ]
                },
                { name: 'HOME', url: 'https://2023.igem.wiki/bit', show: false },
            ]
        }
    },
    mounted() {
        window.addEventListener('scroll', function () {
            const navbar = document.getElementById('navbar');
            let value = window.scrollY;
            let opacity = value * 0.0015;
            // console.log(opacity);
            if (opacity > 1) navbar.style.opacity = 0;
            else navbar.style.opacity = 1 - opacity;
        })
    }
}
</script>

<style scoped>
.navbar {
    /* min-height: 80px; */
    opacity: 1;
    /* nabar*/
    --navbar-height: 6vw;

    /* menu */
    --menu-width: 10vw;
    --navbar-background-color: rgb(7, 9, 23);
    --navbar-opacity: 1;

    /* menu-father */
    --menu-father-height: 3vw;
    --menu-father-font-size: 1.8vw;
    --menu-father-padding: 1vw;
    /* --menu-father-background-color: #66aa7e; */
    --menu-father-border-radius: calc(var(--menu-father-height));
    --menu-father-font-color: #FFFFFF;

    /* menu-son */
    --menu-sons-font-color: #FFFFFF;
    --menu-sons-width: var(--menu-width);
    --menu-sons-background-color: rgb(44, 179, 172);
    --menu-sons-font-size: 1.2vw;
    --menu-sons-border-radius: 0px 0px 15px 15px;
    --menu-sons-opacity: 1;
    --menu-sons-margin-top-menu-father: -0.3vw;
    --menu-sons-hover-font-color: rgb(230, 211, 5);
    --menu-sons-padding: 0.5vw;
    --menu-sons-ul-li-margin: 0.25vw;
}

ul {
    list-style: none;
    /* 去掉编号所占空间 */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* .navbar a:hover {
    color: rgb(179, 202, 49);
} */

/* navbar */
.navbar {
    /* min-height: 70px; */
    padding-right: 1px;
    display: block;
    z-index: 999;
    width: 100%;
    height: var(--navbar-height);
    background-color: white;
    background-image: url(https://static.igem.wiki/teams/4691/wiki/home/headbg2.png);
    /* 设置背景图片大小位置 */
    background-size: 96vw;
    background-repeat: no-repeat;
    background-position: 13vw;
    /* overflow: hidden; */
}

/* logo */
.logo {
    /* margin-top: -0.1vw; */
    float: left;
    height: var(--navbar-height);
    cursor: pointer;
    /* 当箭头鼠标移到会变成手式鼠标 */
}

.logo img {
    width: 7vw;
}

/* menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    width: var(--menu-width);
}

/* menu-father */
.menu-father {
    /* min-height: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 弹性布局，只影响本盒子子盒子*/
    align-self: center;
    height: var(--menu-father-height);
    margin-top: calc((var(--navbar-height) - var(--menu-father-height))/4);
    padding-left: var(--menu-father-padding);
    padding-right: var(--menu-father-padding);
    border-radius: var(--menu-father-border-radius);
}


.menu-father a {
    align-self: center;
    font-size: var(--menu-father-font-size);
    color: var(--menu-father-font-color);
    width: 100%;
}

.menu-father a:hover {
    color: var(--menu-sons-hover-font-color);
}

.menu-father .smile-img {
    /* z-index: 1; */
    position: absolute;
    margin-left: auto;
    margin-top: 4vw;
    width: 4.5vw;
}

/* menu-sons */
/* flex ：父盒子只直接影响下一级子盒子 */
/* ul还有左边那堆小点*/
.menu-sons {
    display: flex;
    flex-direction: column;
    /* 要规定排列方向 */
    /* justify-content: center; 盒子里的盒子全部居中 */
    width: 100%;
    /* 需要知道这个盒子占了多少空间*/

    background-color: var(--menu-sons-background-color);

    border-radius: var(--menu-sons-border-radius);
    opacity: var(--menu-sons-opacity);
    /* 运算符要弄开才会生效 */
    margin-top: calc(var(--menu-sons-margin-top-menu-father) + (var(--navbar-height) - var(--menu-father-height))/2);
    text-align: center;
    will-change: transform;
}

.menu-sons ul {
    /* 需要知道这个盒子占了多少空间*/
    align-self: center;
    /* ul盒子居中 */
    width: 80%;
    display: flex;
    /* 弹性布局*/
    flex-direction: column;
}

.menu-sons ul li {
    display: flex;
    align-self: center;
    margin-bottom: var(--menu-sons-ul-li-margin);
}

.menu-sons ul li a {
    align-self: center;
    color: var(--menu-sons-font-color);
    font-size: var(--menu-sons-font-size);
    transition: all 0.1s ease-in-out;
}

.menu-sons ul li a:hover {
    color: var(--menu-sons-hover-font-color);
    transform: scale(1.2);
}

/* 禁用transition，解决闪烁问题 */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
</style>
