<template lang="">
    <div @click="toggledFunc()" :class="{ 'untoggled-bar':!toggled ,'toggled-bar':toggled }">
        <p v-if="toggled" class="pdf-tip"> Close the frame </p>
        <p v-else class="pdf-tip" > Click here for more information </p>
    </div>
    <iframe v-if="toggled" :src="pdfSrc" width="100%" height="500px"></iframe>
</template>
<script setup>
import {ref} from 'vue'

const toggled=ref(false)

const props = defineProps({
    pdfSrc:{
        type: String,
        required: true
    }
})

function toggledFunc(){
    toggled.value=!toggled.value
}
</script>
<style lang="scss" scoped>
.pdf-tip{
    text-align: center !important;
    text-align-last: center !important;
    margin: 0;
    height: 2em;
}
.untoggled-bar{
    width: 100%;
    background-color:darkseagreen;
    color: white;
    border-style: outset;
    border-color:aquamarine;
    border-width: 0.25em;
    border-radius: 1em;
    margin-bottom: 10px;
}
.toggled-bar{
    width: 100%;
    background-color: blanchedalmond;
    color: black;
    border-style: outset;
    border-color:bisque;
    border-width: 0.25em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

</style>