<template>
    <aside class="sidebar">
        <div class="anchors">
            <ul>
                <li v-for="(anchor, index) in anchors" :key="index">
                    <div class="anchor" @click="chaneli(anchor)">
                        <!--:class="{ 'has-not-header2-anchor': !hasHeader2 }"  -->
                        <button>{{
                            anchor.name
                        }}</button>
                    </div>

                    <ul v-if="anchor.have_child && anchor.show_children">
                        <div class="timeline">
                            <!-- <li v-f0,``or="(anchor1, index) in anchor.children" :key="index"> -->
                            <div class="entry" v-for="(anchor1, index) in anchor.children" :key="index">
                                <div class="title">
                                    <div class="anchor-child">
                                        <button @click="jump(anchor1.item)" @mouseenter="anchor1.show = !anchor1.show"
                                            @mouseleave="anchor1.show = !anchor1.show">{{
                                                anchor1.name }}</button>
                                        <!-- <div class="underline-father">
                                            <transition name="fade">
                                                <div class="underline" v-show="anchor1.show"></div>
                                            </transition>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- </li> -->

                        </div>
                    </ul>

                </li>
            </ul>
        </div>
    </aside>
</template>

<script setup>
import { ref, reactive, onMounted, resolveDirective } from 'vue'

const anchors = reactive([]);
const hasHeader2 = ref(false);

function findNextHeader2(item) {
    let next = item.nextElementSibling
    const h2Array = []

    while (next != null && next.tagName != "H1") {
        if (next.tagName == "H2") {

            h2Array.push(next)
        }
        next = next.nextElementSibling
    }

    return h2Array;
}

function chaneli(anchor) {
    // 先循环数据中的show将其全部置为false,此时模板里的v-if判断生效关闭全部二级菜单,并移除样式
    jump(anchor.item);
    anchors.forEach(i => {
        if (anchor != i) {
            i.show_children = false;
        }
    });
    anchor.show_children = !anchor.show_children;
}


onMounted(() => {
    const items = document.getElementsByTagName(`h1`)
    // const shouldDeepth2 = document.getElementById("add-to-sidebar") != null
    const shouldDeepth2 = true;
    hasHeader2.value = shouldDeepth2

    for (const item of items) {
        const nextHeader2Ans = []
        var have_child = false;
        if (shouldDeepth2) {
            const nextHeader2 = findNextHeader2(item)
            if (nextHeader2 != null) {
                for (const itemChild of nextHeader2) {
                    nextHeader2Ans.push({
                        name: itemChild.innerText.replace("#", "").split(":")[0],
                        show: false,
                        item: itemChild,
                        children: []
                    })
                    have_child = true;
                }

            }
        }
        anchors.push({
            name: item.innerText.replace("#", "").split(":")[0],
            show: false,
            item: item,
            children: nextHeader2Ans,
            show_children: false,
            have_child: have_child
        })
    }
})


function jump(item) {
    item.scrollIntoView({
        behavior: 'smooth'
    })
}


</script>

<style scoped lang="scss">
@import '../styles/index.scss';

ul {
    list-style: none;
    /* 去掉编号所占空间 */
    margin: 0;
    padding: 0;
}

//transistion



.anchors {

    /* --anchor-num: 3; */
    --screen-height: 100vh;

    /* anchors */
    --anchors-top: 3em;
    --anchors-left: -1em;
    --anchors-width: calc((var(--sidebar-width) - var(--anchors-left)));
    // --anchors-width: 15vw;
    --anchors-border-radius: 0px;
    // --anchors-background-color: rgb(255, 255, 255);
    // --anchors-background-color: transparent;
    // --anchors-background: linear-gradient(to left, transparent 40%, rgb(217, 217, 217) 40%);
    --anchors-background: linear-gradient(to top, transparent 10%, transparent 20%, rgb(217, 217, 217) 40%, rgb(217, 217, 217) 10%, transparent 100%, transparent);
    /* 调整这里的宽度百分比，以控制右边透明部分的大小 */


    // --anchors-border: solid 0.1em rgb(203, 203, 203);
    --anchors-border: transparent;

    /* anchor */
    --anchor-button-font-size: 1.5em;
    --anchor-child-font-size: 1.0em;
    --anchor-height: 3em;
    --anchor-child-height: 2.4em;
    --anchor-button-color: #000000;
    --anchor-child-color: #FFFFFF;
    --anchor-button-color-hover: rgb(220, 249, 0);

    /* underline */
    --underline-background-color: rgb(0, 0, 0);
    --underline-height: 0.5em;
    --underline-border-radius: 0.25em;
    --underline-margin-top: 0.25em;
}

/* anchors */

.anchors {
    // box-shadow: inset 0 -0.2em 2em rgba(255, 255, 255, 1),
    //     0 0 0 0.1em rgb(168, 168, 168),
    //     -0.5em 0.5em 1em rgba(160, 160, 160, 0.9);
    position: fixed;
    padding: 0em;
    padding-top: 7%;
    // padding: 0;
    z-index: 998;
    top: calc(var(--anchors-top));
    // top: calc(var(--navbar-height) + var(--anchors-top));
    left: var(--anchors-left);
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    width: var(--anchors-width);
    border-radius: var(--anchors-border-radius);
    display: flex;
    flex-direction: column;
    // background-color: var(--anchors-background-color);
    background: var(--anchors-background);
    // border: var(--anchors-border);
    background-repeat: no-repeat;
    // background-size: 70% 100%;

    &::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;

        border-radius: 4px;
    }

    &::-webkit-scrollbar-corner {
        display: none;
    }

    &::-webkit-resizer {
        display: none;
    }

    &:hover {
        overflow-y: auto;
        overflow-x: auto;
    }

}

.anchors ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-self: center; */
    width: 100%;
}

.anchors ul li {
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    justify-content: center;
    width: 100%;
}

.has-not-header2-anchor {
    align-self: center;
}

.anchor {
    /* align-items: center; */
    /* padding-top: 50px; */
    align-self: flex-start;
    padding-top: calc((var(--anchor-height))/2);
}



.anchor button {

    font-family: gothicb;
    position: relative;
    margin: 0;
    border: none;
    border-radius: 0.25em;
    background: linear-gradient(to left, transparent 50%, rgb(44, 179, 172) 50%, transparent 99%);
    background-size: 200% 100%;
    background-position: right;
    // background: rgb(255, 155, 0);

    outline: none;
    padding: 8%;
    padding-left: 40px;
    padding-right: 10%;
    font-size: var(--anchor-button-font-size);

    color: var(--anchor-button-color);

    white-space: nowrap;
    transition: font-size 0.2s, width 0.2s, background-position 0.2s;
}

.anchor-green {
    background: linear-gradient(to left, transparent 50%, rgb(0, 255, 0) 50%);
}

.anchor-blue {
    background: linear-gradient(to left, transparent 50%, rgb(0, 0, 255) 50%);
}

.anchor button::after {
    content: ">>";
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.anchor button:hover {
    // font-size: calc(1.1*var(--anchor-button-font-size));
    padding: 8%;
    padding-left: 50px;
    padding-right: 20%;
    // padding-left: 30%;
    // background-color: rgb(255, 0, 0);
    background-position: left;
    // width: calc(5*var(--anchors-width)) // @extend .anchor;
}



.anchor button:hover::after {
    opacity: 1;
    /* 在 hover 状态下显示伪元素 */
}

.anchor2 button {
    // font-size: calc(1.1*var(--anchor-button-font-size));
    padding: 5%;
    padding-left: 30%;
    padding-right: 30%;
    // background-color: rgb(255, 0, 0);
    background-position: left;
    @extend .anchor;
}

.anchor-child {
    /* height:  var(--anchor-child-height); */
    font-size: var(--anchor-child-font-size);
    // padding-top: calc((var(--underline-height)));
    // padding-left: 1em;
    padding: 0;
    @extend .anchor
}

.anchor-child button {
    font-size: var(--anchor-child-font-size);
    // padding-top: calc((var(--underline-height)));
    // padding-left: 1em;
    padding: 0;
    padding-left: 20%;
    background: transparent;
    @extend .anchor
}

.anchor-child button:hover {
    color: #3c3c3c;
    font-size: var(--anchor-button-font-size);
    padding: 0;
    padding-left: 20%;
    background: transparent;
    background-color: transparent;
}

.has-header2 {
    color: rgb(255, 217, 102) !important;
    text-align: left !important;
}

.anchor-child button {
    text-align: left !important;
    background-color: transparent;
}





.underline {
    width: 100%;
    height: var(--underline-height);
    background-color: var(--underline-background-color);
    border-radius: var(--underline-border-radius);
    margin-top: var(--underline-margin-top);
}

.underline-father {
    width: 100%;
    height: var(--underline-height);
    border-radius: var(--underline-border-radius);
    margin-top: var(--underline-margin-top);
}

.fade-enter-active {
    animation: fade-in 0.5s ease;
}

.fade-leave-active {
    transition: opacity 0.5s ease;
    animation: fade-in 0.5s reverse;
}

.fade-enter-from .fade-leave-to {
    opacity: 0;
}

@keyframes fade-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

// subtitle
$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

$gutter: 30px;
$border-width: 2px;
$dot-diameter: 2px;

body {
    // background: linear-gradient(55deg, #4E75B9 30%, #5CBF98 90%);
    transition: opacity 1s;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    // min-height: 100vh;
    width: 100vw;
    margin: 0;
    // padding: 12vh 100px;
    // font-family: 'Source Sans Pro', arial, sans-serif;
    font-weight: 300;
    color: #333;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }
}

.timeline {
    width: 100%;
    max-width: 800px;
    background: transparent;
    padding: 10px 50px;
    position: relative;
    transition: opacity 1s;
    // box-shadow: $container-shadow;

    margin-left: -25%;


    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: calc(33% + 15px); //$gutter/2
        bottom: 0px;
        width: $border-width;
        background: transparent;

        height: 90%;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.entry {
    clear: both;
    text-align: left;
    position: relative;
    transition: opacity 1s;

    .title {
        // margin-bottom: .5em;
        margin: 0 0 0em;
        float: right;
        width: 67.8%;
        // padding-right: $gutter;
        text-align: left;
        position: relative;

        // &:before {
        //     content: '';
        //     position: absolute;
        //     width: $dot-diameter;
        //     height: $dot-diameter;
        //     border: $border-width solid rgb(0, 0, 0);
        //     background-color: #000000;
        //     border-radius: 100%;
        //     top: 40%;
        //     left: -$dot-diameter;
        //     z-index: 99;
        // }

        h3 {
            margin: 0;
            font-size: 120%;
        }

        p {
            margin: 0;
            font-size: 100%;
        }
    }

    .body {
        margin: 0 0 0em;
        float: left;
        width: 77%;
        padding-left: $gutter;

        p {
            line-height: 1.4em;

            &:first-child {
                margin-top: 0;
                font-weight: 400;
            }
        }

        ul {
            color: #aaa;
            padding-left: 0;
            list-style-type: none;

            li:before {
                content: "–";
                margin-right: .5em;
            }
        }
    }
}
</style>